<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>museo.it</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link rel="stylesheet"  th:href="@{/css/aggiungiOpera.css}">
</head>
<body>
	<a href="/homePageGestisci" class="indietro">Indietro</a>
    <section>

                <h1>Nuova Opera</h1>
                 
                     <form id="form" class="codehim-form" th:action="@{/homePageGestisci/aggiungiOpera}" th:object="${opera}" method="POST" enctype="multipart/form-data">                                                            
                        
                             <div class="form-group" th:classappend="${#fields.hasErrors('titolo')} ? has-error : ''">
                                 <label th:text="#{richiesta.opera.titolo}">
               						...                  
                                 </label>
                                 <div th:classappend="${#fields.hasErrors('titolo')} ? 'input-icon right' : ''">
                                  <i th:if="${#fields.hasErrors('titolo')}" class="fa fa-exclamation tooltips" data-original-title="Il titolo deve essere compreso tra 2 e 100 caratteri" data-container="body"></i>
                                 <input type="text" class="cm-input"  th:field="*{titolo}" placeholder="Tra 2 e 100 caratteri"/>
                                 <span th:if="${#fields.hasErrors('titolo')}" class="help-block" th:errors="*{titolo}"></span>
                                 </div>
                             </div>    
                               
                             <div class="form-group" th:classappend="${#fields.hasErrors('descrizione')} ? has-error : ''">
               					<label th:text="#{richiesta.opera.descrizione}">
               						...                  
                                 </label>
                                 <div th:classappend="${#fields.hasErrors('descrizione')} ? 'input-icon right' : ''">
                                  <i th:if="${#fields.hasErrors('descrizione')}" class="fa fa-exclamation tooltips" data-original-title="La descrizione deve essere compresa tra 2 e 100 caratteri" data-container="body"></i>
                                 <input type="text" class="cm-input"  th:field="*{descrizione}" placeholder="Tra 2 e 100 caratteri"/>
                                 <span th:if="${#fields.hasErrors('descrizione')}" class="help-block" th:errors="*{descrizione}"></span>
                                 </div>
                             </div>    
                                                          
                              <label th:text="#{richiesta.artista.immagine}">
									...
								</label>
								<input type="file" name="foto" class="file-selector" accept="image/png, image/jpeg" />

                             <label th:text="#{richiesta.opera.data}">
									...
							</label>
								<input type="date" th:field="*{data}" id="data" class="cm-input" placeholder="Tra 2 e 100 caratteri"/>
								
							<label th:text="#{richiesta.opera.dimensione}">
									...
							</label>
								<input type="text" th:field="*{dimensione}" class="cm-input"/>
			
							<label th:text="#{richiesta.opera.tecnica}">
								...
							</label>
							<input type="text" th:field="*{tecnica}" class="cm-input"/>
					
							<label th:text="#{richiesta.opera.artista}">
								...
							</label>
							<select th:field="*{artista}" class="cm-input" required="required">
								<option th:each="artista : ${artisti}" th:value="${artista.id}" th:text="${artista.nome}+' '+${artista.cognome}"></option>
							</select>
                         
                         	<label th:text="#{richiesta.opera.collezione}">
								...
							</label>
							<select class="cm-input" th:field="*{collezione}" required="required">
								<option th:each="collezione : ${collezioni}" th:value="${collezione.id}" th:text="${collezione.nome}">...</option>
							</select>
							
                         <div class="form-actions">
                            <button type="submit" class="btn-login  gr-bg" th:text="#{button.salva}">Invia</button>
                         </div>
                     </form>
               
    </section>
</body>
</html>


