<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Artista</title>
    <link rel="stylesheet" href="/css/artista.css">
              <style>
    a { text-decoration: none; }
  </style>
</head>
<body>
		<div>
				<a th:href="@{/}" class="home">HOME</a>
		</div>
			
		<tr th:if="${artista}" th:object="${artista}">
		<td>
			<p class="nomeartista" th:text="*{nome} + ' ' + *{cognome}">Pablo Picasso</p> <img class="foto1" th:src="@{'/img/' + *{immagine}}" height="300" width="300" align="right">
			<br>
			<p class="informazioni-artista">Data di nascita: <span th:text="*{dataNascita}"></span></p>
			<br>
			<br>
			<p class="informazioni-artista">Luogo di nascita: <span th:text="*{luogoNascita}"></span></p>
			<br>
			<br>
			<p class="informazioni-artista">Data di morte: <span th:text="*{dataMorte}"></span></p>
			<br>
			<br>
			<p class="informazioni-artista">Luogo di morte: <span th:text="*{luogoMorte}"></span></p>
			<br>
			<br>
			<p class="informazioni-artista">Nazionalità: <span th:text="*{nazionalita}"></span></p>
			<br>
		</td>
	</tr>
			<div class="dconbordo"></div>
		<div th:each="opera : ${artista.opere}">
		
		<span class="nomeopera"> Opere: </span><a class="nomeopera" href="opera.html" 
			th:href="@{'/opera' + '/' + ${opera.id}}" th:text="${opera.titolo} + ' '"></a>
		</div>

	<div class="prova">
	<a th:href="@{/artista}" class="home">Torna indietro</a>
	</div>
</body></html>