<!DOCTYPE html>
<html lang="it"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>museo.com</title>
     <link rel="stylesheet"  href="/css/gestisci.css">
</head>
<body>
		<a href="/homePageAdmin" class="home">HOME</a>
		<h1 th:text="'Gestisci il museo!'"></h1>
	<div class="operazioni">
		<a class="aggiungiOpera" href="/homePageGestisci/aggiungiOpera">Aggiungi Opera</a>
		<a class="aggiungiArtista" href="/homePageGestisci/aggiungiArtista">Aggiungi Artista</a>
		<a class="aggiungiCollezione" href="/homePageGestisci/aggiungiCollezione">Aggiungi Collezione</a>
		<a class="rimuoviOpera" href="/homePageGestisci/rimuoviOpera">Rimuovi Opera</a>
		<a class="rimuoviArtista" href="/homePageGestisci/rimuoviArtista">Rimuovi Artista</a>
		<a class="rimuoviCollezione" href="/homePageGestisci/rimuoviCollezione">Rimuovi Collezione</a>
	</div>
</body>
</html>