<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Opere</title>
    <link rel="stylesheet" href="/css/opere.css">
      <style>
    a { text-decoration: none; }
  </style>
  
</head>
<body>
		<div>
				<a th:href="@{/}" class="home">HOME</a>
		</div>
		
			<tr th:each="opera : ${opere}">
		<td class="opera">
			<a class="nomeopera" href="opera.html" 
			th:href="@{'/opera' + '/' + ${opera.id}}" th:text="${opera.titolo}">Guernica</a> <img class="foto1" th:src="@{'/img/' + *{opera.immagine}}" height="380" width="300" align="right">
			<br>
			<a href="artista.html" th:href="@{'/artista' + '/' + ${opera.artista.id}}">
			<p class="informazioni-autore">Autore: <span th:text="${opera.artista.nome} + ' ' + ${opera.artista.cognome}"></span></p></a>
			<br>
			<br>
			<p class="informazioni-opera">Anno: <span th:text="${opera.data}"></span></p>
			<br>
			<br>
			<p class="informazioni-opera">Dimensioni: <span th:text="${opera.dimensione}"></span></p>
			<br>
			<br>
			<p class="informazioni-opera">Tecnica: <span th:text="${opera.tecnica}"></span></p>
			<br>
			<div class="dconbordo">
				
			</div>
		</td>
	</tr> 

</body></html>