*{
	 margin: 0;
 	 padding: 0;
 	 box-sizing: border-box;
}

body{
	margin:0;
	margin-bottom: 300px;
	font-family: 'Times New Roman', Times, serif;
	
}

main{
	height:1160px;
	padding:50px;
	margin:auto;
	min-width: 460px;
	position:relative;
	z-index: 2;
	background-image: url(../img/opera3.jpg);
	margin-bottom: 300px;
	box-shadow: 3px 2px 2px 0px rgba(51,51,51,0,5);
	background-repeat: no-repeat;
	-moz-background-size: cover;
	-webkit-background-size: cover ;
	background-size: cover;
}


main .home {
	margin-top: 3%;
	margin-left: 2%;
	margin-bottom: 1%;
	box-shadow: 0px 0px 0px 2px #f0f1f5;
	background-color:transparent;
	border-radius:34px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Times New Roman;
	font-size:17px;
	padding:10px 8px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
main .home:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
main .home:active {
	position:relative;
	top:1px;
}


main .containerBox{
	margin:0;
    text-align: center;
    top: 50%;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    column-count: 3;
    align-items: center;
	padding:18% 0% 0% 0%;

}

main .containerBox .menu{
	box-shadow: 0px 10px 10px -10px rgba(255,255,255,0.4);
	transition:all 1s;
}
main .containerBox .menu:hover{
	box-shadow: 0px 10px 10px -10px rgba(25, 181, 254, 1);
	transform: translateY(-7px) ;
}
main .containerBox .menu a{
	text-decoration: none;
	color:white;
}

main .containerBox .menu a h2{
	font-weight: bold;
	background-color: none;
	font-size:75px;
	display:block;
	text-transform: uppercase;
	padding-right:10%;
	}
	
.collezioni{
	box-shadow: 0px 10px 10px -10px rgba(255,255,255,0.4);
	transition:all 1s;
}

.collezioni:hover{
	box-shadow: 0px 10px 10px -10px rgba(25, 181, 254, 1);
	transform: translateY(-7px) ;
}

.collezioni a{
	text-decoration: none;
	color:white;
}

.collezioni a h2{
	font-weight: bold;
	background-color: none;
	font-size:75px;
	display:block;
	text-transform: uppercase;
}

.opere{
	box-shadow: 0px 10px 10px -10px rgba(255,255,255,0.4);
	transition:all 1s;
}

.opere:hover{
	box-shadow: 0px 10px 10px -10px rgba(25, 181, 254, 1);
	transform: translateY(-7px) ;
}

.opere a{
	text-decoration: none;
	color:white;
}

.opere a h2{
	font-weight: bold;
	background-color: none;
	font-size:75px;
	display:block;
	text-transform: uppercase;
}

.artisti{
	box-shadow: 0px 0px 10px -10px rgba(255,255,255,0.4);
	transition:all 1s;
}

.artisti:hover{
	box-shadow: 0px 10px 10px -10px rgba(25, 181, 254, 1);
	transform: translateY(-7px) ;
}

.artisti a{
	text-decoration: none;
	color:white;
}

.artisti a h2{
	font-weight: bold;
	background-color: none;
	font-size:75px;
	display:block;
	text-transform: uppercase;
}

.freccia h2{
	color:white;
	font-size: 80px;
	text-align: center;
	margin-top: 450px;
	margin-right: 50px;
}
	
.footer{
	position:fixed;
	bottom:0;
	width: 100%;
	z-index: -1;
	background-color:rgba(31, 58, 147, 1);
	height:300px;
	color: white;
	text-align: left;
 	font-family: 'Times New Roman', Times, serif ;
 	padding: 55px 50px;
 	margin-top: 80px;
}
 
.footer .footer-left,
.footer .footer-center,
.footer .footer-right{
 display: inline-block;
 vertical-align: top;
}
 
.footer .footer-left{
 width: 40%;
}
 
.footer h3{
 color:  #ffffff;
 font: normal 36px 'Cookie', cursive;
 margin: 0;
}
 
 .footer .titolo{
	font-size: 25px;
	padding-top: 7px;
}

.footer .descrizione{
 color:  #ffffff;
 margin: 20px 0 20px;
 padding-bottom: 15px;
 font-size: 23px;
 
}

 
.footer .footer-company-name{
 color:  white;
 font-size: 16px;
 font-weight: normal;
 margin:0;
}
 
 
.footer .footer-center{
 width: 35%;
}
 
.footer .footer-center i{
 background-color:  white;
 color: rgba(31, 58, 147, 1);
 font-size: 25px;
 width: 38px;
 height: 38px;
 border-radius: 50%;
 text-align: center;
 line-height: 42px;
 margin: 10px 15px;
 vertical-align: middle;
}
 
.footer .footer-center i.fa-envelope{
 font-size: 17px;
 line-height: 38px;
}
 
.footer .footer-center p{
 display: inline-block;
 color: #ffffff;
 vertical-align: middle;
 margin:0;
 font-size: 18px;
}
 
.footer .footer-right{
 width: 20%;
}
 
.footer .footer-company-about{
 line-height: 20px;
 color:  white;
 font-size: 22px;
 font-weight: normal;
 margin: 0;
 margin-top: 0px;
}
 
.footer .footer-icons{
 margin-top: 25px;
 border-bottom:1px solid white ;
 margin-bottom: 20px;
 padding-bottom: 20px;
}
 
.footer .footer-icons a{
 display: inline-block;
 width: 50px;
 height: 50px;
 cursor: pointer;
 background-color: white;
 border-radius: 3px;
 
 font-size: 40px;
 color:rgba(31, 58, 147, 1);
 text-align: center;
 line-height: 50px;
 margin-right: 15px;
 margin-bottom: 2px;
}

.footer .admin{
	margin-top: 5px;
}
.footer .admin a{
	text-decoration:none;
	font-size: 16px;
	color:white;
}


 
.title {
  overflow: hidden;
  height: auto;
}