* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

:root{
	 --secondary-color: darkblue;
 	 --contrast-color: white;
}

body{
          	background:black;
  			font-family: 'Times New Roman', Times, serif;
    }

.home {
	margin-top: 3%;
	margin-left: 2%;
	box-shadow: 0px 0px 0px 2px #f0f1f5;
	background-color:transparent;
	border-radius:34px;
	border:2px solid white;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Times New Roman;
	font-size:17px;
	padding:10px 8px;
	text-decoration:none;
	text-shadow:0px 1px 0px white;
	color:white;
}
.home:hover {
	background:linear-gradient(to bottom, black 5%, white 100%);
	background-color:white;
}
.home:active {
	position:relative;
	top:1px;
}



h1 {
  	text-align: center;
	font-size: 60px;
	margin-top: 3%;
	color:	white;
	margin-bottom: 2%;
}

.descrizione{
	text-align: center;
	font-size: 24px;
	margin-bottom: 1.5%;
	color:white;
}

.immagine{
	margin-bottom: 3%;
}

.informazioni-opera {
	font-size: 25px;
	font-style: italic;
	margin-left: 10%;
	color:white;
}

.foto1 {
		margin-bottom: 1%;
		color:white;
}

.indietro{
	margin-top: 40px;
}
